<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjdRyrBRxIXFctME8u4wDlFQqgGsR1RAI</string>
	<key>GCM_SENDER_ID</key>
	<string>798027375262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTestApp</string>
	<key>PROJECT_ID</key>
	<string>nutritrack-e19cd</string>
	<key>STORAGE_BUCKET</key>
	<string>nutritrack-e19cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798027375262:ios:a74b43770305a1707bd18f</string>
</dict>
</plist>